@import url('https://fonts.googleapis.com/css2?family=Mate&family=Vollkorn+SC:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
  }

:root{
    --error: #da2c38;
    --warning: #ffaa00;
    --success: #72b01d;
    --blue: #1982c4ff;
    --black:#0b090a;
    --off-white: #F5F7F9;
    --primary-hover:#0F292B;
    --primary: #1A4549;
    --secondary:#f8fcfc;
    --text:#656663;
    --background:#767879;
}

html {
    font-size: 62.5%;
  }
 
body {
    font-family: 'Mate', serif;
    color:var(--text);

}

li{
    list-style: none;
}

.heading-1,.heading-2,hr{
    color:var(--primary)
}

.heading-5{
    font-weight: 400;
}

p{
    text-align: justify;
}

li{
    margin:1rem 0;
    font-size:1.655rem;
}

ul{
    margin:0.75rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

.container{
    width: 85%;
    margin:auto;
}

  .hero{
      display:flex;
      flex-direction: column;
      margin:auto;
      padding-top:9.5rem;
      width:80%;
      align-items: center;
      font-size: 2.90rem;

      
  }

  .hero-heading{
      font-weight: 900;
      text-align: center;
  }

  .hero-buttons{
      display:inherit;
      margin:2rem;
  }

  .hero-buttons button{
      margin:1rem;
      font-family: inherit;
      font-size: inherit;
      border:none;
      border-radius: 4px;
      box-shadow: 0px 4px 9px var(--background);
      padding:8px 16px;
  }

  .btn-primary{
      background-color: var(--primary);
      color:var(--secondary);
  }

  .btn-secondary{

    color:var(--primary);
}




@media screen and (max-width : 640px){

    html{
        font-size:40%;
    }

}

/* @media screen and (min-width : 1536px){

    html{
        font-size:150%;
    }
} 
  */

