@import url(/Component/Text-Utilies/text-utilities.css);


  .hero{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding-top:9.5rem;
    width:80%;
    align-items: center;
    font-size: 2.75rem;

    
}

.hero-heading{
    font-weight: 900;
    text-align: center;
}
.hero-para{
   margin-top: 2rem;
   text-align: center;
}
.hero-buttons{
  display:inherit;
  margin:2rem;
}

