@import url('https://fonts.googleapis.com/css2?family=Mate&family=Vollkorn+SC:wght@600&display=swap');

    /* font-family: 'Vollkorn SC', serif; */

* {
    margin: 0;
    padding: 0;
    color:var(--text)
  }

li{
    list-style: none;
}
  :root{
    --error: #da2c38;
    --warning: #ffaa00;
    --success: #72b01d;
    --blue: #1982c4ff;
    --black:#0b090a;
    --off-white:#f7f0ffff;
    --primary-hover:#0F292B;
    --primary: #1A4549;
    --secondary:#f8fcfc;
    --text:#656663;
    --background:#BBC2C4;
}
html {
    font-size: 62.5%;
  }

h1,h2,hr{
    color:var(--primary)
}

h5{
    font-weight: 400;
}

p{
    text-align: justify;
}

li{
    margin:1rem 0;
    font-size:1.655rem;
}

ul{
    margin:0.75rem;
}

  body {
    font-family: 'Mate', serif;
  }


  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  .container{
    width: 85%;
    margin:auto;

  }

  nav{
      font-size:2rem;
    padding: 2.5rem 1rem;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a{
      font-size: 3rem;
      font-weight: 900;
      color:var(--primary);
  }
  .nav-menu{
      list-style: none;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
  }
  .nav-menu-mobile{
     display:none;
     padding-top: 5rem;
     position:absolute;
     left:0;
     width:100vw;
     flex-direction: column;
     margin:0;
     background-color: var(--primary);
     border-radius: 0 0 4px  4px;
 } 
  .nav-menu li{
    
    font-weight: 900;
    margin: 1rem;
  } 
   .nav-menu-mobile li{
    font-size: 2.75rem;
    color: white;
    padding:0.5rem 0 0 3rem;
    position: relative;
} 


  #menu-icon, .close-icon{
     display:none;
  }


  .hero{
      display:flex;
      flex-direction: column;
      margin:auto;
      padding-top:9.5rem;
      width:80%;
      align-items: center;
      font-size: 2.90rem;

      
  }

  .hero-heading{
      font-weight: 900;
      text-align: center;
  }

  .hero-buttons{
      display:inherit;
      margin:2rem;
  }

  button{
      margin:1rem;
  }

  .btn-primary{
      font-family: inherit;
      font-size: inherit;
      border:none;
      border-radius: 4px;
      box-shadow: 0px 4px 9px var(--background);
      padding:8px 16px;
      background-color: var(--primary);
      color:var(--secondary);
  }

  .btn-secondary{
    font-family: inherit;
    font-size: inherit;
    border:none;
    border-radius: 4px;
    box-shadow: 0px 4px 9px var(--background);
    padding:8px 16px;
    color:var(--primary);
}

.doc-container{
    margin-top:2.25rem;
    display:grid;
    grid-template-columns: 20% auto;
 
}

.sidebar-section{
    font-size:1.25rem;
}

.main-content{

    width:98%;
    margin:1rem 0 0 auto ;
    height:inherit;
}

.document-frame{
    
    border:none;
    scrollbar-width: 1px;
    width:100%; 
    height:100%;
}

@media screen and (max-width : 640px){

    html{
        font-size:40%;
    }

    .doc-container{
        grid-template-columns: 100%;
    }

    .side-bar, .nav-menu{
      display:none;
    }
    


  
    .close-icon{
        position:absolute;
        /* right:1rem;*/
    } 

    #menu-icon{
        display:inline-block;
    }
}



@media screen and (min-width : 1536px){

    html{
        font-size:150%;
    }
} 
 

