<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="image.css">
</head>
<body>
    <div class="main-content">
        
        <h1 class="heading-1">Images</h1>
        <h3>Responsive Image</h3>
        <p class="para">Reponsive Image will let your image to resize itself according to your screen.Here the Image adjusts itself according to its parent container. </p>
            
        <div class="main-content-display">
            <div class="image-container">
                <img  class="responsive-image" src="/Images/responsive-image.jpg"/>
            </div>
        </div>

        <div class="main-content-example">
            <<!---->div> <span class="example-comment">//parent container</span>
             <br>
                <<!---->img  class="responsive-image" src="#"/> <br>
            <<!---->/div>
        </div>

        <h3>Round Image</h3>
        <p class="para">Here the images are by default 10rem for width and height. </p>
            
        <div class="main-content-display">

        <img  class="round-image" src="/Images/girl.png"/>

        <img  class=" round-image" src="/Images/responsive-image.jpg"/>
      
        </div>

        <div class="main-content-example">
            <<!-- -->img  class="round-image" src="/Images/girl.png"/>
        </div>

    </div>
</body>
</html>