<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="list.css">

</head>
<body>

    <div class="main-content">
        <h1 class="heading-1">List</h1>

        <h3>Spaced list</h3>
        <p class="para">Finding your list to be crowded?. Add list-spaced class to  your list and you good to go!</p>
        <div class="main-content-display">

            <ul>
                <li class="list list-spaced br-btm">Lorem ipsum dolor sit.</li>
                <li class="list list-spaced br-btm">Lorem ipsum dolor sit.</li>
                <li class="list list-spaced br-btm">Lorem ipsum dolor sit.</li>
            </ul>
        </div>

        <div class="main-content-example">
            <<!---->ul> <br>
                <<!---->li class="list list-spaced br-btm">Lorem ipsum dolor sit.<<!---->/li><br>
                <<!---->li class="list list-spaced br-btm">Lorem ipsum dolor sit.<<!---->/li><br>
                <<!---->li class="list list-spaced br-btm">Lorem ipsum dolor sit.<<!---->/li><br>
            <<!---->/ul>
        </div>

        <h3>Stacked list</h3>
        <p class="para">Introducing stacked list. Specially designed for notifications and similar stuffs!</p>
        <div class="main-content-display">

            <ul>
                <li class="list list-stacked "><img class="avatar sm " src="/Images/girl.png" alt=""><div class="list-text"><small>Lorem, ipsum.</small> Lorem ipsum dolor sit.</div></li>
                <li class="list list-stacked "><img class="avatar sm " src="/Images/girl.png" alt=""><div class="list-text"><small>Lorem, ipsum.</small> Lorem ipsum dolor sit.</div></li>
                <li class="list list-stacked "><img class="avatar sm " src="/Images/girl.png" alt=""><div class="list-text"><small>Lorem, ipsum.</small> Lorem ipsum dolor sit.</div></li>
            </ul>
        </div>

        <div class="main-content-example">
            <<!---->ul> <br>
                <<!---->li class="list list-stacked "><img class="avatar sm " src="/Images/girl.png" alt=""><div class="list-text"></div><small>Lorem, ipsum.</small> Lorem ipsum dolor sit.<<!---->/li><br>
                <<!---->li class="list list-stacked "><img class="avatar sm " src="/Images/girl.png" alt=""><div class="list-text"></div><small>Lorem, ipsum.</small> Lorem ipsum dolor sit.<<!---->/li><br>
                <<!---->li class="list list-stacked "><img class="avatar sm " src="/Images/girl.png" alt=""><div class="list-text"></div><small>Lorem, ipsum.</small> Lorem ipsum dolor sit.<<!---->/li><br>
            <<!---->/ul>
        </div>
    </div>
    
</body>
</html>