@import url('https://fonts.googleapis.com/css2?family=Mate&family=Vollkorn+SC:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
  }

:root{
    --error: #da2c38;
    --warning: #ffaa00;
    --success: #72b01d;
    --blue: #1982c4ff;
    --black:#0b090a;
    --off-white: #F5F7F9;
    --primary-hover:#0F292B;
    --primary: #1A4549;
    --primary-ghost: #0f464b71;
    --secondary:#f8fcfc;
    --text:#656663;
    --background:#767879;
    --example-bg:#F5F7F9;
    --overlay-background: #0b090ad0;
}


.container{
    width: 85%;
    margin:auto;
}



html {
    font-size: 62.5%;
  }

html::-webkit-scrollbar {
    
    display: none;
    

}

body {
    font-family: 'Mate', serif;
}


.main-content-display{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.heading-1,.heading-2,hr{
    color:var(--primary)
}

.grey-text{
    color:var(--grey-text);
}

.center-text{
    text-align: center;
}

.para{
    text-align: justify;
}

.list{
    list-style: none;
    margin:1rem 0;
    font-size:1.655rem;
    width:100%;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

.misc{
    padding-left: 2rem;
}
.misc li{
    list-style: disc;
 }  

 @media screen and (max-width : 640px){

    html{
        font-size:40%;
    }

}

/* @media screen and (min-width : 1536px){

    html{
        font-size:150%;
    }
} 
  */
/* @media screen and (min-width : 1536px){

    html{
        font-size:150%;
    }
} 
  */

