<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="text-utilities.css">
</head>
<body>
    <div class="main-content">
        
        <h1 class="heading-1">Text Utilities</h1>
        <h3>Headings</h3>
        <p>The heading are as the default heading given by the browser. Heading 1 and 2 can have the theme's primary color while others  have the theme's text color</p>
        
        <div class="main-content-display">
            <h1 class="heading-1">Lorem ipsum dolor sit.</h1>

            <h2 class="heading-2">Lorem ipsum dolor sit.</h2>

            <h3>Lorem ipsum dolor sit.</h3>

            <h4>Lorem ipsum dolor sit.</h4>

            <h5>Lorem ipsum dolor sit.</h5>
            
            <h6>Lorem ipsum dolor sit.</h6>
        </div>

        <div class="main-content-example">
           
            <<!---->h1 class="heading-1">Lorem ipsum dolor sit.<<!---->/h1> <span class="example-comment">//Heading 1</span><br> <br>
      
            <<!---->h2 class="heading-2">Lorem ipsum dolor sit.<<!---->/h2><span class="example-comment">//Heading 2</span><br> <br>

            <<!---->h3>Lorem ipsum dolor sit.<<!---->/h3> <span class="example-comment">//Heading 3</span><br><br>
 
            <<!---->h4>Lorem ipsum dolor sit.<<!---->/h4><span class="example-comment">//Heading 4</span><br><br>
        
            <<!---->h5>Lorem ipsum dolor sit.<<!---->/h5><span class="example-comment">//Heading 5</span><br><br>

            <<!---->h6>Lorem ipsum dolor sit.<<!---->/h6><span class="example-comment">//Heading 6</span><br><br>
        </div>
        
        <h1 class="heading-1">Other variations</h1>
        <p>Here you can find other variations.</p>
        <h3>Small text</h3>
        <div class="main-content-display">
            <small >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores vero ratione nostrum voluptates nam culpa enim!</small>
        </div>
        <div class="main-content-example">
            <<!---->small> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores vero ratione nostrum voluptates nam culpa enim!<br><<!---->/small>
        </div>

        <h3>Grey Text</h3>
        <div class="main-content-display">
            <p class="grey-text"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores vero ratione nostrum voluptates nam culpa enim!<br></p>
        </div>
        <div class="main-content-example">
            <<!---->p class="grey-text"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores vero ratione nostrum voluptates nam culpa enim!<br><<!---->/p>
        </div>
       
        <h3>Centered Text</h3>
        <div class="main-content-display">
            <p class="center-text"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores vero ratione nostrum voluptates nam culpa enim!<br></p>
        </div>
        <div class="main-content-example">
            <<!---->p class="center-text"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolores vero ratione nostrum voluptates nam culpa enim!<br><<!---->/p>
        </div>

        <h3>Miscellaneous</h3>
        <p>Some of the defaulted cases. You can overight them accordingly.</p>
        <ul class="misc">
            <li>Paragraphs are by defaulted to be justified from both the sides.</li>
            <li>Lists dont have bullets for all components. They have a margin of 1rem top and bottom.</li>
            <li>Anchor tags have no text decoration and they inherit the color from parent. </li>

        </ul>
        
    </div>
    </div>
</body>
</html>