
.alert {
    padding: 0.7rem;
    border-radius: 0.5rem;
    width:80%;
    margin: 0.8rem;
    color:var(--off-white);
    background-color: var(--primary);
}

.alert-primary {
    background-color: var(--blue);
}

.alert-success{
    background-color: var(--success);
}

.alert-error {
    background-color: var(--error);
}

.alert-warning {
    background-color: var(--warning);
}

.alert-light{
    color:var(--black);
    background-color: var(--off-white);
    border: 1px solid var(--black);
}

.alert-dark {
    color: var(--off-white);
    background-color: var(--black);
}