<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="input.css">
</head>
<body>
    <div class="main-content">
        
        <h1 class="heading-1">Input</h1>
        <h3>Simple Input</h3>
        <p>
          By default the input has the theme color. According to you needs you can have these following input field when the field is in focus.
        </p>
        <div class="main-content-display">
           
            <div class="input-container">
                <label for="input-field">Lorem</label>
                <input  class="input-field" type="text" placeholder="Start Typing">
            </div>

            <div class="input-container ">
                <label for="input-field ">Password</label>
                <input  class=" success input-field "  type="text" placeholder="Start Typing">
                <div class="input-field-status success ">
                    Success
                </div>
            </div>

            <div class="input-container ">
                <label for="input-field">Password</label>
                <input  class=" error  input-field " type="text" placeholder="Start Typing">
                <div class="input-field-status  error ">
                   Password is wrong 
                </div>
            </div>

            <div class="input-container ">
                <label for="input-field ">Password</label>
                <input  class="warning input-field " type="text" placeholder="Start Typing">
                <div class="input-field-status warning ">
                    Need more characters
                </div>
            </div>

        </div>

        <div class="main-content-example">
            <span class="example-comment">//Default</span> <br>
            <<!-- -->div class="input-container"><br>
                <<!-- -->label for="input-field">Lorem<<!-- -->/label><br>
                <!-- --><<!-- -->input  class="input-field" type="text" placeholder="Start Typing"><br>
            <<!-- -->/div><br><br>
            
            <span class="example-comment">//Success field</span> <br>
            <<!-- -->div class="input-container "><br>
                <<!-- -->label for="input-field ">Password<<!-- -->/label><br>
                <<!-- -->input  class=" success input-field "  type="text" placeholder="Start Typing"><br>
                <<!-- -->div class="input-field-status success ">
                    Success
                <<!-- -->/div><br>
            <<!-- -->/div><br><br>

            <span class="example-comment">//Error field</span> <br>
            <<!---->div class="input-container "><br>
                <<!---->label for="input-field">Password<<!---->/label><br>
                <<!---->input  class=" error  input-field " type="text" placeholder="Start Typing"><br>
                <<!---->div class="input-field-status  error ">
                   Password is wrong 
                <<!---->/div> <br>
            <<!---->/div> <br> <br>
            
            <span class="example-comment">//Warning field</span><br>
           <<!---->div class="input-container "> <br>
               <<!---->label for="input-field ">Password</label> <br>
               <<!---->input  class="warning input-field " type="text" placeholder="Start Typing"> <br>
               <<!---->div class="input-field-status warning ">
                    Need more characters
               <<!---->/div> <br>
           <<!---->/div>

        </div>
    </div>
</body>
</html>