<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Component/Text-Utilies/text-utilities.css">
    <link rel="stylesheet" href="/CSS/docs.css">
    <link rel="stylesheet" href="avatar.css">
    <script src="https://kit.fontawesome.com/0ce6b5a07c.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="main-content">
        
            <h1 class="heading-1">Avatar</h1>

            <h3>Image Avatars</h3>
            <p class="para"> Below the second avatar is the default size. According to your requirments you can use the smaller or the larger version on it. </p>
            <div class="main-content-display">
                <img class="avatar sm " src="/Images/girl.png" alt="">
                <img class="avatar" src="/Images/girl.png" alt="">
                <img class="avatar lg" src="/Images/girl.png" alt="">
            </div>
            <div class="main-content-example" >
               <<!-- -->img class="avatar" src="/Images/girl.png" alt=""> <span class="example-comment"> //Add class "avatar"  to your <<!-- -->img> to use this</span> <br> <br>
              <<!-- -->img class="avatar sm" src="/Images/girl.png" alt=""> <span class="example-comment"> //Add "sm"  to your <<!-- -->img> for size small</span> <br> <br>
               <<!-- -->img class="avatar lg" src="/Images/girl.png" alt=""> <span class="example-comment"> //Add "lg"  to your <<!-- -->img> for size small</span> <br> <br>
            </div>

            <h3>Other Variation</h3>
            <p class="para">You can find the other variations of the avatar below. Just add the class and you good to go!</p>
            <div class="main-content-display">
                <div class=" avatar avatar-text" >NS</div>
                <div class="avatar avatar-icon" ><i class="fas fa-folder"></i></div>
                <img class="avatar avatar-square " src="/Images/girl.png" alt="">
            </div>
            <div class="main-content-example" >
               <<!-- -->div class=" avatar avatar-text" >NS<<!-- -->/div> <span class="example-comment"> //instead of using img add the avatar class to yr element </span> <br> <br>
               <<!-- -->div class="avatar avatar-icon" ><<!-- -->i class="fas fa-folder"><<!-- -->/i><<!-- -->/div><span class="example-comment"> //Add "avatar-icon"   to the div of the icon for icon avatar</span> <br> <br>
               <<!-- -->img class="avatar avatar-square" src="/Images/girl.png" alt=""> <span class="example-comment"> //Add "avatar-square"  to your <<!-- -->img> for square avatar</span> <br> <br>
            </div>

</body>
</html>