<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ratings.css">
    <script src="https://kit.fontawesome.com/0ce6b5a07c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-content">
        
        <h1 class="heading-1">Ratings</h1>

        <p class="para">The default size is display below. You can have other sizes by using the sizing of the fontawesome icons. For example to have a smaller size "fa-sm" can be added to the class. Make sure you add the script of the <a class="link" href=""> fontawesome</a></p>
        <div class="main-content-display">
            <div class="rating-container">
                <span class="fa fa-star rated"></span>
                <span class="fa fa-star rated"></span>
                <span class="fa fa-star rated"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>

        </div>

        <div class="main-content-example">
            <<!---->div class="rating-container"> <br>
                <<!---->span class="fa fa-star rated"><<!---->/span><br>
                <<!---->span class="fa fa-star rated"><<!---->/span><br>
                <<!---->span class="fa fa-star rated"><<!---->/span><br>
                <<!---->span class="fa fa-star"><<!---->/span><br>
                <<!---->span class="fa fa-star"><<!---->/span><br>
            <<!---->/div>
        </div>
   
    </div>

</body>
</html>
