

.card{
    height: max-content;
    width: 19rem;
    padding:1rem;
    background-color: white;
    border-radius: 2px;
    gap:1rem;
    box-shadow:2px 2px 5px grey;
    margin:1rem 0;
    position: relative;
}

.card .para{
   margin: 1rem 0 1rem 0;
}

.card-horizontal{
    display: flex;
   width: 45rem;
    height: 19rem;
    flex-wrap: wrap;
}

.card-horizontal .card-image{
    width: 17rem;
    height:inherit;

}
.card-horizontal .card-body{
    width: 25rem;
}
.card-image{
    width:inherit;
    position: relative;

}

.badge-icon{
    left:-1rem;
    top:0.25rem;
    align-items: center;
    background-color: var(--primary);
}

.btn-float{
    position:absolute;
    right: 0rem;
    top: -0.5rem;
    padding:0rem;
}

.card .btn{
    margin:1rem 0.25rem;
    line-height: 1rem;
}

.card-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card .footer-buttons{
    margin-right: auto;

}

.card .footer-icons{
    display:flex;
    margin-left: auto;
}


.icon{
    margin:0.5rem;
}


.on-image{
    position: absolute;
    top: 15rem;
    text-shadow: 1px 1px var(--off-white);
    left: 1.5rem;
    font-size: 1.75rem;

}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: var( --overlay-background);  
    color:var(--off-white);
}