<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.css">
    <script src="https://kit.fontawesome.com/0ce6b5a07c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-content">
        
        <h1 class="heading-1">Cards</h1>
        
        <h3>Text only Card</h3>
        <div class="main-content-display">

            <div class="card ">

                <div class="card-title">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>
                
               <p class="para">Visit ten places on our planet that are undergoing the biggest changes today.</p>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>

           </div>
        </div>

        <div class="main-content-example">
            <<!-- -->div class="card "> <br>
                <<!-- -->div class="card-title"> <br>
                    <<!-- -->h2 class="heading-2">Lorem ipsum<<!-- -->/h2> <br>
                    <<!-- -->h5 class="card-subheading">dolor sit amet consectetur <<!-- -->/h5>
                <<!-- -->/div> <br>
                
                <<!-- -->p>Visit ten places on our planet that are undergoing the biggest changes today.<<!-- -->/p> <br>

                <<!-- -->div class="card-footer"> <br>
                    <<!-- -->div class="footer-buttons"><<!-- -->button class="btn"> lorem<<!-- -->/button><<!-- -->/div> <br>
                    <<!-- -->div class="footer-icons"><<!-- -->i class="far fa-heart icon"><<!-- -->/i><<!-- -->!-- <<!-- -->i class="fas fa-heart"><<!-- -->/i> --><<!-- -->i class="fas fa-share-alt icon"><<!-- -->/i><<!-- -->/div> <br>
                <<!-- -->/div>

           <<!-- -->/div>
        </div>

        <h3>Card with Shadow</h3>
        <div class="main-content-display">

            <div class="card ">
                <img  class="card-image" src="/Images/card-image.jpg" alt="">

                <div class="card-title">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>
                
               <p class="para">Visit ten places on our planet that are undergoing the biggest changes today.</p>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>

           </div>
        </div>

        <div class="main-content-example">
            <<!-- -->div class="card "> <br>
                <<!-- -->img  class="card-image" src="/Images/card-image.jpg" alt=""><br>

                <<!-- -->div class="card-title"> <br>
                    <<!-- -->h2 class="heading-2">Lorem ipsum<<!-- -->/h2> <br>
                    <<!-- -->h5 class="card-subheading">dolor sit amet consectetur <<!-- -->/h5> <br>
                <<!-- -->/div> <br>
                
                <<!-- -->p>Visit ten places on our planet that are undergoing the biggest changes today.<<!-- -->/p> <br>

                <<!-- -->div class="card-footer"> <br>
                    <<!-- -->div class="footer-buttons"><<!-- -->button class="btn"> lorem<<!-- -->/button><<!-- -->/div> <br>
                    <<!-- -->div class="footer-icons"><<!-- -->i class="far fa-heart icon"><<!-- -->/i><<!-- -->!-- <<!-- -->i class="fas fa-heart"><<!-- -->/i> --><<!-- -->i class="fas fa-share-alt icon"><<!-- -->/i><<!-- -->/div> <br>
                <<!-- -->/div>

           <<!-- -->/div>
        </div>

        <h3>Card with Text Overlay</h3>
       <p class="para">add "overlay" class to the element which you want to display as the overlaying text.</p>
        <div class="main-content-display">

            <div class="card ">
                <img  class="card-image" src="/Images/card-image.jpg" alt="">

                <div class="card-title">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>
                
               <p class="para">Visit ten places on our planet that are undergoing the biggest changes today.</p>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>
                
                <h4 class="overlay">
                    Text Overlay
                </h4>
           </div>
        </div>

        <div class="main-content-example">
            <<!-- -->div class="card "> <br>
                <<!-- -->img  class="card-image" src="/Images/card-image.jpg" alt=""><br>

                <<!-- -->div class="card-title"> <br>
                    <<!-- -->h2 class="heading-2">Lorem ipsum<<!-- -->/h2> <br>
                    <<!-- -->h5 class="card-subheading">dolor sit amet consectetur <<!-- -->/h5> <br>
                <<!-- -->/div> <br>
                
                <<!-- -->p>Visit ten places on our planet that are undergoing the biggest changes today.<<!-- -->/p> <br>

                <<!-- -->div class="card-footer"> <br>
                    <<!-- -->div class="footer-buttons"><<!-- -->button class="btn"> lorem<<!-- -->/button><<!-- -->/div> <br>
                    <<!-- -->div class="footer-icons"><<!-- -->i class="far fa-heart icon"><<!-- -->/i><<!-- -->!-- <<!-- -->i class="fas fa-heart"><<!-- -->/i> --><<!-- -->i class="fas fa-share-alt icon"><<!-- -->/i><<!-- -->/div> <br>
                <<!-- -->/div>
                
                <<!---->h4 class="overlay">
                    Text Overlay
                <<!---->/h4>
           <<!-- -->/div>
        </div>

        <h3>Card with Badge and/or Dismissable</h3>
       <p class="para">You can have any of the combination displayed below. Just remove the div which you dont like.</p>
        <div class="main-content-display">
            
            <div class="card ">
                <div class="card-image">
                    <img  class="card-image" src="/Images/card-image.jpg" alt="">
                    <button class="btn btn-float"><i class="fas fa-times-circle"></i></button>
                </div>
        
                <div class="card-title">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>
                
               <p class="para">Visit ten places on our planet that are undergoing the biggest changes today.</p>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>
            </div>

            <div class="card ">
                <div class="card-image">
                    <img  class="card-image" src="/Images/card-image.jpg" alt="">
                    <div class="badge-icon">New Arrival</div>
                </div>
        
                <div class="card-title">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>
                
               <p class="para">Visit ten places on our planet that are undergoing the biggest changes today.</p>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>
            </div>

            <div class="card ">
                <div class="card-image">
                    <img  class="card-image" src="/Images/card-image.jpg" alt="">
                    <div class="badge-icon">New Arrival</div>
                    <button class="btn btn-float"><i class="fas fa-times-circle"></i></button>
                </div>
        
                <div class="card-title">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>
                
               <p class="para">Visit ten places on our planet that are undergoing the biggest changes today.</p>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>
            </div>
        </div>

        <div class="main-content-example">
            <<!---->div class="card "> <br>
                <<!---->div class="card-image"><br>
                    <<!---->img  class="card-image" src="/Images/card-image.jpg" alt=""><br>
                    <<!---->div class="badge-icon">New Arrival<<!---->/div><span class="example-comment"> //remove this div if you dont want badge</span> <br>
                  
                    <<!---->button class="btn btn-float"><<!---->i class="fas fa-times-circle"><<!---->/i><<!---->/button> <span class="example-comment"> //remove if dont want dismissable</span> <br> 
                <<!---->/div>
        
                <<!---->div class="card-title"><br>
                    <<!---->h2 class="heading-2">Lorem ipsum<<!---->/h2><br>
                    <<!---->h5 class="card-subheading">dolor sit amet consectetur <<!---->/h5>
                <<!---->/div> <br>
                
                <<!---->p>ten places on our planet that are undergoing the biggest changestoday.<<!---->/p><br>

                <<!---->div class="card-footer"><br>
                    <<!---->div class="footer-buttons"><<!---->button class="btn"> lorem<<!---->/button><<!---->/div><br>
                    <<!---->div class="footer-icons"><<!---->i class="far fa-heart icon"><<!---->/i><<!---->i class="fas fa-share-alt icon"><<!---->/i><<!---->/div> <br>
                <<!---->/div><br>
            <<!---->/div>
        </div>

        <h3>Card with Text on Image</h3>
       <p class="para">Add class "on-image" to have the text displayed over image. Here the title has the "overlay" class</p>
        <div class="main-content-display">

            <div class="card ">
                <img  class="card-image" src="/Images/card-image.jpg" alt="">

                <div class="card-title on-image">
                    <h2 class="heading-2">Lorem ipsum</h2>
                    <h5 class="card-subheading">dolor sit amet consectetur </h5>
                </div>

                <div class="card-footer">
                    <div class="footer-buttons"><button class="btn"> lorem</button></div>
                    <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                </div>

           </div>
        </div>

        <div class="main-content-example">
            <<!-- -->div class="card "> <br>
                <<!-- -->img  class="card-image" src="/Images/card-image.jpg" alt=""><br>

                <<!-- -->div class="card-title overlay"> <br>
                    <<!-- -->h2 class="heading-2">Lorem ipsum<<!-- -->/h2> <br>
                    <<!-- -->h5 class="card-subheading">dolor sit amet consectetur <<!-- -->/h5> <br>
                <<!-- -->/div> <br>

                <<!-- -->div class="card-footer"> <br>
                    <<!-- -->div class="footer-buttons"><<!-- -->button class="btn"> lorem<<!-- -->/button><<!-- -->/div> <br>
                    <<!-- -->div class="footer-icons"><<!-- -->i class="far fa-heart icon"><<!-- -->/i><<!-- -->!-- <<!-- -->i class="fas fa-heart"><<!-- -->/i> --><<!-- -->i class="fas fa-share-alt icon"><<!-- -->/i><<!-- -->/div> <br>
                <<!-- -->/div>

           <<!-- -->/div>
        </div>

        <h3>Horizontal Card</h3>
        <div class="main-content-display">

            <div class="card card-horizontal">
                <img  class="card-image" src="/Images/card-image.jpg" alt="">
                
                <div class="horizontal-card-content">
                    <div class="card-title">
                        <h2 class="heading-2">Lorem ipsum</h2>
                        <h5 class="card-subheading">dolor sit amet consectetur </h5>
                    </div>
                    
                   <p class="para card-body">Visit ten places on our planet that are undergoing the biggest changes today.</p>
    
                    <div class="card-footer">
                        <div class="footer-buttons"><button class="btn"> lorem</button></div>
                        <div class="footer-icons"><i class="far fa-heart icon"></i><!-- <i class="fas fa-heart"></i> --><i class="fas fa-share-alt icon"></i></div>
                    </div>
                </div>
                
           </div>
        </div>

        <div class="main-content-example">
            <<!---->div class="card card-horizontal"> <br>
                <<!---->img  class="card-image" src="/Images/card-image.jpg" alt=""><br>
                
                <<!---->div class="horizontal-card-content"><br>
                    <<!---->div class="card-title"><br>
                        <<!---->h2 class="heading-2">Lorem ipsum<<!---->/h2><br>
                        <<!---->h5 class="card-subheading">dolor sit amet consectetur <<!---->/h5>
                    <<!---->/div><br>
                    
                    <<!---->p>Visit ten places on our planet that are undergoing the biggest changes today.<<!---->/p><br>
    
                    <<!---->div class="card-footer"><br>
                        <<!---->div class="footer-buttons"><<!---->button class="btn"> lorem<<!---->/button><!---->/div><br>
                        <<!---->div class="footer-icons"><<!---->i class="far fa-heart icon"><<!---->/i><<!---->i class="fas fa-share-alt icon"><<!---->/i><<!---->/div><br>
                    <<!---->/div>
                <<!---->/div>
           <<!---->/div>
        </div>

        
     
  
  
</div>

</body>
</html>