<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="button.css">
    <script src="https://kit.fontawesome.com/0ce6b5a07c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-content">
        
        <h1 class="heading-1">Button</h1>

        <h3>Solid Buttons</h3>
        <p class="para"> By default buttons will have theme color. You have the other colors from this library as below.</p>
        <div class="main-content-display">
           <button class="btn ">Button</button>
           <button class="btn green">Button</button>
           <button class="btn red">Button</button>
           <button class="btn yellow">Button</button>
           <button class="btn blue">Button</button>
        </div>
        <div class="main-content-example" >
            <<!-- -->button class="btn ">Button<<!-- -->/button> <span class="example-comment"> //default button</span> <br> <br>

            <span class="example-comment"> //You can have the other colors from this library as follow </span> <br>
            <<!-- -->button class="btn red">Button<<!-- -->/button><br><br>
            <<!-- -->button class="btn yellow">Button<<!-- -->/button><br><br>
            <<!-- -->button class="btn blue">Button<<!-- -->/button><br> <br><br>
        </div>

        <h3>Outline buttons</h3>
        <p class="para">Similarly you can have  outline variation of buttons</p>
        <div class="main-content-display">
            <button class="btn btn-outline">Button</button>
            <button class="btn btn-outline-red">Button</button>
            <button class="btn btn-outline-green">Button</button>
            <button class="btn btn-outline-yellow">Button</button>
            <button class="btn btn-outline-blue">Button</button>
        </div>
        <div class="main-content-example" >
            <<!-- -->button class="btn btn-outline">Button<<!-- -->/button> <span class="example-comment"> //default outline button</span> <br> <br>

            <span class="example-comment"> //You  can have the other colors from this library as follow </span> <br>
            <<!-- -->button class="btn btn-outline-red">Button<<!-- -->/button> <br> <br>
            <<!-- -->button class="btn btn-outline-green">Button<<!-- -->/button> <br> <br>
            <<!-- -->button class="btn btn-outline-yellow">Button<<!-- -->/button> <br> <br>
            <<!-- -->button class="btn btn-outline-blue">Button<<!-- -->/button> <br> <br>
        </div>

        <h3>Other variations</h3>
        <p class="para">Here you can other variation of the buttons. To have the colours from the theme add repectively class to it, you can refer the solid buttons example for that. </p>
        <div class="main-content-display">
            <button class="btn btn-link"><a class="link" href="#">Link</a></button>
            <button class="btn "><i class="fas fa-user"></i></button>
            <button class="btn btn-float"><i class="fas fa-plus"></i></button>
            <button class=" btn btn-white">Button</button>
        </div>
        <div class="main-content-example" >
            <span class="example-comment">Note: The icons used are from fontawesome. You need to add their link to use the icons from the code below</span><br> <br>
            <<!-- -->button class="btn btn-link"><<!-- -->a href="#">Link<<!-- -->/a><<!-- -->/button> <span class="example-comment"> //button with link</span> <br> <br>

            <<!-- -->button class="btn "><<!-- -->i class="fas fa-user"><<!-- -->/i><<!-- -->/button> <span class="example-comment"> //icon button </span> <br><br> 
            <<!-- -->button class="btn btn-float"><<!-- -->i class="fas fa-plus"><<!-- -->/i><<!-- -->/button> <span class="example-comment"> //floating button </span>  <br> <br>
            <<!-- -->button class=" btn btn-white">Button<<!-- -->/button><span class="example-comment"> //white button variation </span><br> <br>
        </div>
  
</div>
</body>
</html>