<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Component/Text-Utilies/text-utilities.css">
    <link rel="stylesheet" href="/CSS/docs.css">
    <link rel="stylesheet" href="snackbar.css">
    <script src="https://kit.fontawesome.com/0ce6b5a07c.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="main-content">
        <h1 class="heading-1">Snackbar</h1>
        <p class="para">Snackbar is something which is triggered and is displayed at the bottom of viewport. It informs the user about the process which is going to be performed or is going to be performed.</p>

        <h3>Baseline snackbar</h3>
        <p class="para">Using this you can have you snackbar to bottom and aligned center of the viewport</p>
        <div class="main-content-display">
            
        <div class="snackbar snackbar-baseline">
            <div class="text">
                Can't send photo. Retry in 5 seconds.
            </div>
            <a class=" link snackbar-link" href="">Retry</a>
            <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="main-content-example">
            <<!---->div class="snackbar snackbar-baseline"> <br>
                <<!---->div class="text"><br>
                    Can't send photo. Retry in 5 seconds.<br>
                <<!---->/div><br>
                <<!---->a class=" link snackbar-link" href="">Retry<<!---->/a><br>
                <<!---->i class="fas fa-times"><<!---->/i><br>
            <<!-- -->/div>
        </div>
        
        
        <h3>Leading</h3>
        <p class="para">Leading snackbar  can be used to display your snackbar at the bottom and align it to the start</p>
        <div class="main-content-display">

            <div class="snackbar snackbar-leading">
                <div class="text">
                    Your photo has been archived.
                </div>
                <a class=" link snackbar-link" href="">Undo</a>
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="main-content-example">
            
            <<!---->div class="snackbar snackbar-leading"> <br>
                <<!---->div class="text"><br>
                    Your photo has been archived.<br>
                <<!---->/div><br>
                <<!---->a class=" link snackbar-link" href="">Undo<<!---->/a><br>
                <<!---->i class="fas fa-times"><<!---->/i><br>
            <<!---->/div><br>

        </div>
        
    </div>
</body>
</html>