<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="badge.css">
    <script src="https://kit.fontawesome.com/0ce6b5a07c.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="main-content">
        
            <h1 class="heading-1">Badge</h1>
            <p> Here you can find different badge like on text, on button and on a icon. Just copy the code below and you are all set!</p>
            <div class="main-content-display">
                
                <div class="badge">
                    <div class="text">
                        Lorem, ipsum. 
                        <div class="badge-icon">4</div>
                     </div>
                </div>
        
                <div class="badge">
                     <button class="button-container"> Button <div class="badge-icon">4</div></button>
                </div>
                

        
                <div class="badge badge-icons">

                     <div class="button-container">
                     <i class="fas fa-home fa-2x"></i>
                     <div class="badge-icon">4</div>
                     </div>
                    
                </div>


            </div>
            <div class="main-content-example" >

               <span class="example-comment"> //badge on text</span> <br> 
               <<!-- -->div class="badge"> <br>
                    <<!-- -->div class="text"> <br>
                        Lorem, ipsum. <br>
                        <<!-- -->div class="badge-icon">4<<!-- -->/div> <br>
                     <<!-- -->/div> <br>
                <<!-- -->/div> <br> <br>

                <span class="example-comment"> //badge on button</span> <br> 
                <<!-- -->div class="badge"> <br>
                    <<!-- -->button class="button-container"> <br> 
                    Button <br> 
                    <<!-- -->div class="badge-icon">4<<!-- -->/div> <br>
                    <<!-- -->/button> <br>
               <<!-- -->/div> <br>  <br>

               <span class="example-comment"> //badge on icon</span> <br>
               <<!-- -->div class="badge badge-icons"> <br>
                    <<!-- -->div class="button-container"> <br>
                    <<!-- -->i class="fas fa-home fa-2x"><<!-- -->/i> <br>
                    <<!-- -->div class="badge-icon">4<<!-- -->/div> <br>
                  <<!-- -->/div> <br>
                <<!-- -->/div> <br> <br>
           </div>

            <h3>Badge on avatar</h3>
            <p>Need badge on avatar?. Here you go. You can have it's variation with the colours as below. </p>
            <div class="main-content-display">

                <div class="badge ">
                    <img class="avatar" src="/Images/girl.png" alt="">
                    <span class=" badge-icon badge-status green"></span>
               </div>
               
               <div class="badge ">
                <img class="avatar" src="/Images/girl.png" alt="">
                <span class=" badge-icon badge-status red"></span>
              </div>

              <div class="badge ">
                <img class="avatar" src="/Images/girl.png" alt="">
                <span class=" badge-icon badge-status yellow"></span>
           </div>

            </div>
            <div class="main-content-example" >
                <span class="example-comment"> //green badge</span> <br> 
                <<!-- -->div class="badge "> <br>
                    <<!-- -->img class="avatar" src="/Images/girl.png" alt=""> <br>
                    <<!-- -->span class=" badge-icon badge-status green"><<!-- -->/span> <br>
               <<!-- -->/div><br> <br>

               <span class="example-comment"> //red badge</span> <br> 
                <<!-- -->div class="badge "> <br>
                    <<!-- -->img class="avatar" src="/Images/girl.png" alt=""> <br>
                    <<!-- -->span class=" badge-icon badge-status red"><<!-- -->/span> <br>
               <<!-- -->/div><br> <br>

               <span class="example-comment"> //red badge</span> <br> 
                <<!-- -->div class="badge "> <br>
                    <<!-- -->img class="avatar" src="/Images/girl.png" alt=""> <br>
                    <<!-- -->span class=" badge-icon badge-status red"><<!-- -->/span> <br>
               <<!-- -->/div><br> <br>

           
            </div>
    </div>
</body>
</html>